<a href="https://colab.research.google.com/github/tqnhu2407/Color_Compression/blob/master/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Đồ án 03: Linear Regression

## Thông tin cá nhân

### Họ tên: Trần Quỳnh Như

### MSSV: 18127266

## Các chức năng đã hoàn thành

Xây dựng mô hình đánh giá chất lượng rượu sử dụng phương pháp hồi quy tuyến tính.

    a) Sử dụng toàn bộ 11 đặc trưng đề bài cung cấp.

    b) Sử dụng duy nhất 1 đặc trưng cho kết quả tốt nhất.

## Ý tưởng thực hiện

Do tập dữ liệu có 1199 dòng, nên ta nhân đôi dòng cuối để tập này có 1200 dòng giúp tiện cho việc tính toán và xử lí hơn.

Mô hình hồi qui tuyến tính của ta có dạng 
$$A\hat{x} = b$$
nên ta tách tập dữ liệu ra thành 2 ma trận **A** và **b**

## Mô tả các hàm chức năng

Import các thư viện cần thiết

In [1]:
import numpy as np
import pandas as pd

Đọc file csv bằng thư viện pandas

In [18]:
df = pd.read_csv('wine.csv', sep=';')

Gán data vào numpy array mới để thuận lợi cho việc xử lí

In [19]:
wine = df.values.copy()

Do dataset ban đầu chỉ có 1199 dòng, nên ta duplicate dòng cuối lên để dataset chẵn 1200 dòng

In [27]:
last_line = wine[-1]
wine = np.append(wine, [last_line], axis=0)

In [29]:
wine.shape[0]

1200

Tách tập dữ liệu ra thành 2 ma trận A và b

In [31]:
A = np.zeros((1200, 11))

for line in range(1200):
    A[line] = wine[line, :-1]

In [32]:
b = wine[:, 11]

# a)

Tính nghiệm của phương trình hồi qui tuyến tính.

In [33]:
np.linalg.pinv(A)@b

array([ 6.08780564e-03, -1.10606523e+00, -2.61369571e-01,  1.53895225e-02,
       -1.72614693e+00,  3.81352544e-03, -3.90664540e-03,  4.32676138e+00,
       -4.55444191e-01,  7.28908094e-01,  3.08728459e-01])

# b)

Chia tập rượu thành 11 thuộc tính att[0] ... att[10].

Với mỗi thuộc tính, ở mỗi dòng dữ liệu ta thêm giá trị 0 vào vì khi dùng hàm np.linalg.pinv(A)@b yêu cầu mỗi ma trận A có ít nhất 2 chiều.

In [34]:
att = np.zeros((11, 1200, 2))

for col_idx in range(11):
    att[col_idx,: , 0] = A[:, col_idx]

Ví dụ: Dòng dữ liệu đầu tiên của thuộc tính thứ 1:

In [35]:
att[0][0]

array([7.4, 0. ])

In [37]:
# Tính 11 nghiệm x bằng cách dùng full 1200 dòng data cho mỗi thuộc tính
# Test chơi thoi

x = np.zeros(11)

for idx in range(11):
    tmp_x = np.linalg.pinv(att[idx])@b
    x[idx] = tmp_x[0]

In [39]:
# Test thử với thuộc tính đầu tiên
# Với tập train là 800 dòng đầu tiên
# Và tập test là 400 dòng còn lại

# Consider each of the 11 attributes
# Here we only consider the first attribute
for i in range(1):

    # 2 train sets A and b
    # trainA here is the first attribute 
    # These 2 sets are from line 0 to line 799
    trainA = att[i][:800]
    trainb = b[:800]

    # Calculate x
    x = np.linalg.pinv(trainA)@trainb
    print(x)

    # 2 test sets A and b
    # testA here is the first attribute 
    # These 2 sets are from line 800 to line 1199
    testA = att[i][800:1200]
    testb = b[800:1200]

    # Sum the differences btw the train result and the test one
    sum_saiso = 0
    for j in range(400):
        sum_saiso += testA[j][0] * x[0] - testb[j]
    
    # Print the average difference btw the train result and the test one
    print(sum_saiso / 400)

[0.60218365 0.        ]
-1.0009988794840796

In [40]:
# Test thử trên cả 11 thuộc tính
# Tập train và test vẫn chia thành 800 đầu 400 cuối

# The saiso array
saiso = []

# Consider each of the 11 attributes
for i in range(11):

    # 2 train sets A and b
    # trainA here is the first attribute 
    # These 2 sets are from line 0 to line 799
    trainA = att[i][:800]
    trainb = b[:800]

    # Calculate x
    x = np.linalg.pinv(trainA)@trainb
    #print(x)

    # 2 test sets A and b
    # testA here is the first attribute 
    # These 2 sets are from line 800 to line 1298
    testA = att[i][800:1200]
    testb = b[800:1200]

    # Sum the differences btw the train result and the test one
    sum_saiso = 0
    for j in range(400):
        sum_saiso += testA[j][0] * x[0] - testb[j]
    
    saiso.append(sum_saiso/400)

for each_saiso in saiso:
    print(each_saiso)

-1.0009988794840796
-1.5736335486859836
-2.4402807273957015
-1.6724475830340042
-2.313385177891496
-1.8229677198625935
-3.027381448042614
-0.377302918690982
-0.31711637660784
-0.9460128096918236
0.07909009727494934

In [ ]:
# Test thử trên cả 11 thuộc tính
# Tập train và test vẫn chia thành 800 đầu 400 cuối

# The saiso array
saiso = []

# Consider each of the 11 attributes
for i in range(11):

    # 2 train sets A and b
    # trainA here is the first attribute 
    # These 2 sets are from line 0 to line 799
    trainA = att[i][:800]
    trainb = b[:800]

    # Calculate x
    x = np.linalg.pinv(trainA)@trainb
    #print(x)

    # 2 test sets A and b
    # testA here is the first attribute 
    # These 2 sets are from line 800 to line 1298
    testA = att[i][800:1200]
    testb = b[800:1200]

    # Sum the differences btw the train result and the test one
    sum_saiso = 0
    for j in range(400):
        sum_saiso += testA[j][0] * x[0] - testb[j]
    
    saiso.append(sum_saiso/400)

for each_saiso in saiso:
    print(each_saiso)